# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
app/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/armeabi/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/mips/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/mips/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/debug/mips64/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/mips64/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/debug/x86/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/JNItest.dir/
app/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/NAT.dir/
app/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/Port.dir/
app/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/TEST.dir/
app/.externalNativeBuild/cmake/release/armeabi/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/armeabi/CMakeFiles/JNItest.dir/
app/.externalNativeBuild/cmake/release/armeabi/CMakeFiles/NAT.dir/
app/.externalNativeBuild/cmake/release/armeabi/CMakeFiles/Port.dir/
app/.externalNativeBuild/cmake/release/armeabi/CMakeFiles/TEST.dir/
app/.externalNativeBuild/cmake/release/mips/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/mips/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/release/mips64/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/mips64/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/release/x86/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/x86/CMakeFiles/JNItest.dir/
app/.externalNativeBuild/cmake/release/x86/CMakeFiles/NAT.dir/
app/.externalNativeBuild/cmake/release/x86/CMakeFiles/Port.dir/
app/.externalNativeBuild/cmake/release/x86/CMakeFiles/TEST.dir/
app/.externalNativeBuild/cmake/release/x86_64/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/x86_64/CMakeFiles/native-lib.dir/
app/libs/
app/src/main/res/drawable/
build/android-profile/profile-2017-07-03-14-09-22-418.rawproto
build/android-profile/profile-2017-07-03-14-09-54-041.rawproto
.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/armeabi/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/mips/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/mips/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/debug/mips64/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/mips64/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/debug/x86/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/JNItest.dir/
.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/NAT.dir/
.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/Port.dir/
.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/TEST.dir/
.externalNativeBuild/cmake/release/armeabi/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/armeabi/CMakeFiles/JNItest.dir/
.externalNativeBuild/cmake/release/armeabi/CMakeFiles/NAT.dir/
.externalNativeBuild/cmake/release/armeabi/CMakeFiles/Port.dir/
.externalNativeBuild/cmake/release/armeabi/CMakeFiles/TEST.dir/
.externalNativeBuild/cmake/release/mips/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/mips/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/mips64/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/mips64/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/x86/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/x86/CMakeFiles/JNItest.dir/
.externalNativeBuild/cmake/release/x86/CMakeFiles/NAT.dir/
.externalNativeBuild/cmake/release/x86/CMakeFiles/Port.dir/
.externalNativeBuild/cmake/release/x86/CMakeFiles/TEST.dir/
.externalNativeBuild/cmake/release/x86_64/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/x86_64/CMakeFiles/native-lib.dir/
libs/
src/main/res/drawable/
